<h1>Who am I?</h1>
<div class="row">
  <div class="col-xs-12 col-md-4 about-container">
    <div class="about-card">
      <h4>#Skills</h4>
      <ul>
        <li>Ruby programming language</li>
        <li>Ruby on Rails</li>
        <li>HTML5/CSS</li>
        <li>Javascript, jQuery and AJAX</li>
        <li>Bootstrap</li>
        <li>Git/Github Version Control</li>
        <li>Heroku</li>
        <li>Stripe Payment Processing</li>
        <li>User Authentication and Validation</li>
        <li>Caching</li>
        <li>Photoshop</li>
      </ul>
    </div>
    <div class="about-card">
      <%= link_to 'Download resume', 'https://s3.eu-central-1.amazonaws.com/image-portfolio-bucket/cdiezinger_resume.pdf' %>
    </div>
  </div>
  <div class="col-xs-12 col-md-8 about-container">
    <div class="about-card">
      <h4>#Education</h4>
      <%= render 'item_lister', collection: @educations %>
    </div>
  </div>
</div>
<div class="row"> 
  <div class="col-xs-12 col-md-12 about-container">
   <div class="about-card">
     <h4>#Experience</h4>
     <%= render 'item_lister', collection: @experiences %>
   </div>
 </div>
</div>

