<h1>Contact me</h1>
 <div class=> 
  <div class="row">
    <div class="col-xs-12 col-sm-4 contact-container">   
      <h4>Adress:</h4>
      <ul>
       <li>Clemens Diezinger</li>
       <li>Buchtal 69</li>
       <li>85072 Eichstätt</li>
       <li>Germany</li>
       <li></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-3 contact-container social">
      <h4>Social Networks:</h4>
      <div>
        <%= link_to (fa_icon "linkedin"), "https://www.linkedin.com/in/clemens-diezinger-9b97565b/", class: "fa_icon-link"%>
        <%= link_to (fa_icon "github"), "https://github.com/Cliquar/", class: "fa_icon-link" %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-2 contact-container">
      <h4>Mail:</h4>
      <div>
        <%= mail_to 'diezinger-webdev@posteo.de', 'Mail me', class: "btn btn-primary" %>
      </div>
    </div>
  </div> 
</div>
