<div class="intro">
  <p class="card-text">"<span>Hello,<span></br> my name is <span class="emph">Clemens</span> and I'm a Bavarian-based <span class="emph">Web Developer</span>, specialized in <span class="emph">Ruby on Rails</span> web framework. Fluent in web standards <span class="emph">HTML/CSS</span> and <span class="emph">Javascript</span>. Driven by the challenge to design and build outstanding web applications. Push the buttons to find out more about me!"</p>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 buttons">
        <%= link_to "About Me", about_path, class: "btn btn-primary"%>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 buttons">
        <%= link_to "Portfolio", portfolios_path, class: "btn btn-primary"%>
      </div>
    </div>
  </div>
</div>

<hr> 

<div class="latest-projects">
  <h2>Latest Projects</h2>
  <div class="row">
    <%= render partial: 'portfolios/portfolio', collection: @portfolios %>
  </div>
</div>  
</div>