@import "bootstrap";
@import "font-awesome";

$main-font: 'Josefin Sans', sans-serif;
$background-color: #2980b9;
$intro-text-color: #f1c40f;
$emph-color: #ecf0f1;

body {
  background-color: $background-color;
  font-family: $main-font;
}

.navbar {
  font-size: 1.5em;
  background: none;
}

.nav-link {
  color: $emph-color;
}

.navbar-brand {
  margin-left: 10px;
  color: $emph-color;
  font-size: 1.5em;
}

.intro {
  font-family: $main-font;
  font-weight: 700;
  font-size: 2.5em;
  margin-top: 50px;
  color: $intro-text-color;
}

span .emph {
  color: $emph-color;
}

.btn-primary {
  background-color: $intro-text-color;
  color: $background-color;
  font-size: 1em;
  border: none;
}

.latest-projects h2 {
  margin: 0 auto;
  color: $emph-color;
  text-align: center;
}

footer {
  text-align: center;
  color: $intro-text-color;
  padding: 1rem;
}

.fa_icon-link {
  font-size: 1.2em;
  color: $intro-text-color;
}

.portfolio-container {
  background-color: white;
  margin-top: 10px;
  padding: 10px;
  border-radius: 1%;
}

.portfolio-container h4 {
  padding-top: 5px;
}

.portfolio-show-container {
  background-color: white;
  padding: 10px;
  border-radius: 0.5%;
}

.page-title {
  color: $intro-text-color;
  text-align: center;
}

.show-heading {
  color: $intro-text-color;
}

.new-portfolio a {
  color: white;
}

.about-card {
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5%;
}

.about-container h6 {
  font-style: italic;
}

.about-container span {
  font-size: 0.8em;
}

.about-container h4 {
  color: $intro-text-color;
}

h1 {
  color: $intro-text-color;
}